In [ ]:
  # Data Types And Structures Questions

In [ ]:
1. What are data structures, and why are they important?
Data structures are ways to organize and store data in a computer so that it can be efficiently accessed, modified, and manipulated. They are important because they enable efficient data retrieval, insertion, deletion, and manipulation, which are crucial in many applications.

2. Explain the difference between mutable and immutable data types with examples.
Mutable data types can be modified after creation, while immutable data types cannot. Examples of mutable data types include lists and dictionaries, while examples of immutable data types include strings and tuples.

3. What are the main differences between lists and tuples in Python?
The main differences between lists and tuples in Python are that lists are mutable, while tuples are immutable. Lists are also more flexible and can be modified after creation, while tuples are more secure and cannot be modified.

4. Describe how dictionaries store data.
Dictionaries store data as key-value pairs, where each key is unique and maps to a specific value. The data is stored in a hash table, which enables fast lookup and retrieval.

5. Why might you use a set instead of a list in Python?
You might use a set instead of a list in Python when you need to store a collection of unique elements and don't care about the order. Sets are also more efficient than lists for certain operations, such as membership testing.

6. What is a string in Python, and how is it different from a list?
A string in Python is a sequence of characters, while a list is a sequence of arbitrary objects. Strings are immutable, while lists are mutable.

7. How do tuples ensure data integrity in Python?
Tuples ensure data integrity in Python by being immutable, which means that their contents cannot be modified after creation. This makes tuples more secure and predictable.

8. What is a hash table, and how does it relate to dictionaries in Python?
A hash table is a data structure that maps keys to values using a hash function. Dictionaries in Python use a hash table to store their key-value pairs, which enables fast lookup and retrieval.

9. Can lists contain different data types in Python?
Yes, lists can contain different data types in Python. For example, a list can contain both integers and strings.

10. Explain why strings are immutable in Python.
Strings are immutable in Python because they are designed to be secure and predictable. This makes it easier to reason about the behavior of strings and prevents unexpected changes.

11. What advantages do dictionaries offer over lists for certain tasks?
Dictionaries offer several advantages over lists for certain tasks, including fast lookup and retrieval, efficient insertion and deletion, and the ability to store key-value pairs.

12. Describe a scenario where using a tuple would be preferable over a list.
Using a tuple would be preferable over a list when you need to store a small, fixed-size collection of elements and don't need to modify it after creation. Tuples are also more secure and predictable than lists.

13. How do sets handle duplicate values in Python?
Sets in Python handle duplicate values by ignoring them. If you try to add a duplicate value to a set, it will simply be ignored.

14. How does the "in" keyword work differently for lists and dictionaries?
The "in" keyword works differently for lists and dictionaries in Python. For lists, it checks if an element is present in the list, while for dictionaries, it checks if a key is present in the dictionary.

15. Can you modify the elements of a tuple? Explain why or why not.
No, you cannot modify the elements of a tuple in Python. This is because tuples are immutable, which means that their contents cannot be modified after creation.

16. What is a nested dictionary, and give an example of its use case?
A nested dictionary is a dictionary that contains other dictionaries as values. An example of its use case is storing data about people, where each person has their own dictionary containing their name, age, and address.

17. Describe the time complexity of accessing elements in a dictionary.
The time complexity of accessing elements in a dictionary is O(1) on average, making dictionaries very efficient for lookup and retrieval.

18. In what situations are lists preferred over dictionaries?
Lists are preferred over dictionaries when you need to store a collection of elements that don't have a natural key or when you need to preserve the order of the elements.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Dictionaries are considered unordered because they don't preserve the order of their key-value pairs. This means that when you iterate over a dictionary, the order of the key-value pairs is not guaranteed.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
The main difference between a list and a dictionary in terms of data retrieval is that lists are indexed by integers, while dictionaries are indexed by keys

Practical Questions

1. Write a code to create a string with your name and print it.

In [ ]:
name = "Yash Gupta"
print(name)

Yash Gupta

In [ ]:
2. Write a code to find the length of the string "Hello World".

In [ ]:
string = "Hello World"
length = len(string)
print("Length of the string:", length)

Length of the string: 11

In [ ]:
3. Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
string = "Python Programming"
sliced_string = string[:3]
print("Sliced string:", sliced_string)

Sliced string: Pyt

In [ ]:
4. Write a code to convert the string "hello" to uppercase.

In [ ]:
string = "hello"
uppercase_string = string.upper()
print("Uppercase string:", uppercase_string)

Uppercase string: HELLO

In [ ]:
5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
string = "I like apple"
replaced_string = string.replace("apple", "orange")
print("Replaced string:", replaced_string)

Replaced string: I like orange

In [ ]:
6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

In [ ]:
7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

In [ ]:
8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

In [ ]:
9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print("Second element:", second_element)

Second element: b

In [ ]:
10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:

numbers = [10, 20, 30, 40, 50]
reversed_numbers = numbers[::-1]
print("Reversed list:", reversed_numbers)

Reversed list: [50, 40, 30, 20, 10]

In [ ]:
11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [ ]:
12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

In [ ]:
13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(min_number)

5
5

In [ ]:
14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
animals = ('dog', 'cat', 'rabbit')
index = animals.index('cat')
print(index)

1

In [ ]:
15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ('apple', 'banana', 'orange')
if 'kiwi' in fruits:
    print("Kiwi is in the tuple")
else:
    print("Kiwi is not in the tuple")

Kiwi is not in the tuple

In [ ]:
16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
letters = {'a', 'b', 'c'}
print(letters)

{'b', 'a', 'c'}

In [ ]:
17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [ ]:
18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [ ]:
19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union = set1.union(set2)
print(union)

{1, 2, 3, 4, 5}

In [ ]:
20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection = set1.intersection(set2)
print(intersection)

{2, 3}

In [ ]:
21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
person = {'name': 'Yash', 'age': 25, 'city': 'Bareilly'}
print(person)

{'name': 'Yash', 'age': 25, 'city': 'Bareilly'}

In [ ]:
22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
person = {'name': 'Yash', 'age': 25}
person['country'] = 'India'
print(person)

{'name': 'Yash', 'age': 25, 'country': 'India'}

In [ ]:
23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
person = {'name': 'Yash', 'age': 25}
name = person['name']
print(name)

Yash

In [ ]:
24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
person = {'name': 'Yash', 'age': 25, 'city': 'Bareilly'}
del person['age']
print(person)

{'name': 'Yash', 'city': 'Bareilly'}

In [ ]:
25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("City exists")
else:
    print("City does not exist")

City exists

In [ ]:
26. Write a code to create a list, a tuple, and a dictionary, and print them all

In [ ]:
numbers = [1, 2, 3]
colors = ('red', 'green', 'blue')
person = {'name': 'Yash', 'age': 25}
print(numbers)
print(colors)
print(person)

[1, 2, 3]
('red', 'green', 'blue')
{'name': 'Yash', 'age': 25}

In [ ]:
27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [ ]:
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print("Sorted list:", numbers)

Sorted list: [5, 9, 11, 73, 83]

In [ ]:
28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']
third_element = fruits[2]
print("Third element:", third_element)

Third element: cherry

In [ ]:
29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {'name': 'yash', 'age': 25}
dict2 = {'city': 'Bareilly', 'country': 'India'}
combined_dict = {**dict1, **dict2}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'name': 'yash', 'age': 25, 'city': 'Bareilly', 'country': 'India'}

In [ ]:
30. Write a code to convert a list of strings into a set.

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']
fruit_set = set(fruits)
print("Set:", fruit_set)

Set: {'date', 'cherry', 'elderberry', 'apple', 'banana'}